.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .CartName{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
  }
 
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 5px 370px 5px 370px;
  }
  
  .cartItem img {
    width: 200px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  
  .checkout{
    margin-left: 350px;
  }
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin:  25px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .cartItem{
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
    display: flex;
    height: 257px;
    margin-top: 12px;
  
    width: 306px;
  }
  .checkout{
    margin-left: 0;
  }
  

}